[project]
name = "navis-test"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "django>=6.0",
    "environs>=14.5.0",
    "psycopg2>=2.9.11",
]
